### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xlsx
out
gen
__pycache__/funcions.cpython-38.pyc
__pycache__/main.cpython-38.pyc
vscode
.gitignore!/.vscode/
!/.vscode/launch.json
!/README.md
!/.vscode/
!/seguiment_proves.zip

!/dist/
!/build/
!/main.spec

