### Example user template template
### Example user template

# IntelliJ project files
.idea/*
*.iml
*.xlsx

!/README.md
Pipfile
Pipfile.lock

/.vscode/
/venv/
/lib/
/__pycache__
/src/__pycache__
seguiment.sublime-project
seguiment.sublime-workspace