[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
numpy = "*"
pandas = "*"
fake2db = "*"
fakedata = "*"
faker = "==13.15.1"

[dev-packages]

[requires]
python_version = "3.8"
